# Canteen data display

In [7]:
from data_analysis import find_kdr_files, clean_kdr_data, amount_location, amount_total
import matplotlib.pyplot as plt
import numpy as np

In [2]:
kdr_files = find_kdr_files()

In [3]:
kdr_files = clean_kdr_data(kdr_files)

## Show location frequency per canteen

In [8]:
location_freq = amount_location(kdr_files)
location_freq.columns = ['Frequency']
location_freq

NameError: name 'amout_per' is not defined

## Amount of total visitors to canteen per day

In [5]:
frequency = amount_total(kdr_files)
frequency.columns = ['Frequency']
frequency

            Frequency
Date
2018-12-12       1611
2018-12-13       1606
2018-12-14       1515
2018-12-17       1615
2018-12-18       1598
2018-12-19       1555
2018-12-20       1347
2018-12-21        918
2018-12-24         35
2018-12-27         72
2018-12-28         69
2018-12-31         33
2019-01-02       1464
2019-01-03        545
2019-01-08       2056
2019-01-09       1893
2019-01-10       1786
2019-01-11       1480
2019-01-14       1939
2019-01-15       1886
2019-01-16       1631
2019-01-17       1592
2019-01-18       1702
2019-01-21       1925
2019-01-22       1936
2019-01-23       1831
2019-01-24       1808
2019-01-25       1616
2019-01-28       1825
2019-01-29       1831
2019-01-30       1793
2019-01-31       1805
2019-02-01       1598
2019-02-04       1850
2019-02-05       1873
2019-02-06       1781
2019-02-07       1689
2019-02-08       1577
2019-02-11       1877
2019-02-12       1889
2019-02-13       1843
2019-02-14       1735
2019-02-15       1567
2019-02-18       1642
2019-02-19       1609
2019-02-20       1532
2019-02-21       1328
2019-02-22        969
2019-02-25       1869
2019-02-26       1868

In [ ]:
subset_freq = frequency.head(10)
subset_freq

In [ ]:
subset_freq.plot.bar()
plt.show()