# Canteen data display

In [1]:
from data_analysis import find_kdr_files, clean_kdr_data, amount_location, amount_total
import matplotlib.pyplot as plt
import numpy as np

In [2]:
kdr_files = find_kdr_files()

In [3]:
kdr_files = clean_kdr_data(kdr_files)

## Show location frequency per canteen

In [4]:
location_freq = amount_location(kdr_files)
location_freq.columns = ['Frequency']
location_freq.tail(120)

                          Frequency
Date       Place
2018-12-28 Soup&Sandwich         69
2018-12-31 Soup&Sandwich         33
2019-01-02 Fresh4You            400
           Soup&Sandwich        641
           eattheStreet         423
2019-01-03 Fresh4You            117
           Soup&Sandwich        230
           eattheStreet         198
2019-01-04 Soup&Sandwich          1
2019-01-07 Fresh4You           1436
           Soup&Sandwich       1783
           eattheStreet        1210
2019-01-08 Fresh4You            424
           Soup&Sandwich        718
           eattheStreet         914
2019-01-09 Fresh4You            669
           Soup&Sandwich        624
           eattheStreet         600
2019-01-10 Fresh4You            520
           Soup&Sandwich        648
           eattheStreet         618
2019-01-11 Fresh4You            388
           Soup&Sandwich        452
           eattheStreet         640
2019-01-14 Fresh4You            590
           Soup&Sandwich        763
           eattheStreet         586
2019-01-15 Fresh4You            511
           Soup&Sandwich        759
           eattheStreet         616
...                             ...
2019-02-13 Fresh4You            428
           Soup&Sandwich        676
           eattheStreet         739
2019-02-14 Fresh4You            520
           Soup&Sandwich        655
           eattheStreet         560
2019-02-15 Fresh4You            493
           Soup&Sandwich        513
           eattheStreet         561
2019-02-18 Fresh4You            505
           Soup&Sandwich        606
           eattheStreet         531
2019-02-19 Fresh4You            427
           Soup&Sandwich        688
           eattheStreet         494
2019-02-20 Fresh4You            386
           Soup&Sandwich        652
           eattheStreet         494
2019-02-21 Fresh4You            415
           Soup&Sandwich        510
           eattheStreet         403
2019-02-22 Fresh4You            254
           Soup&Sandwich        372
           eattheStreet         343
2019-02-25 Fresh4You            532
           Soup&Sandwich        704
           eattheStreet         633
2019-02-26 Fresh4You            441
           Soup&Sandwich        714
           eattheStreet         713

[120 rows x 1 columns]

## Amount of total visitors to canteen per day

In [5]:
frequency = amount_total(kdr_files)
frequency.columns = ['Frequency']
frequency.tail(50)

            Frequency
Date
2018-12-14       1515
2018-12-17       1615
2018-12-18       1598
2018-12-19       1555
2018-12-20       1347
2018-12-21        918
2018-12-24         35
2018-12-27         72
2018-12-28         69
2018-12-31         33
2019-01-02       1464
2019-01-03        545
2019-01-04         10
2019-01-07       2200
2019-01-08       2056
2019-01-09       1893
2019-01-10       1786
2019-01-11       1480
2019-01-14       1939
2019-01-15       1886
2019-01-16       1631
2019-01-17       1592
2019-01-18       1702
2019-01-21       1925
2019-01-22       1936
2019-01-23       1831
2019-01-24       1808
2019-01-25       1616
2019-01-28       1825
2019-01-29       1831
2019-01-30       1793
2019-01-31       1805
2019-02-01       1598
2019-02-04       1850
2019-02-05       1873
2019-02-06       1781
2019-02-07       1689
2019-02-08       1577
2019-02-11       1877
2019-02-12       1889
2019-02-13       1843
2019-02-14       1735
2019-02-15       1567
2019-02-18       1642
2019-02-19       1609
2019-02-20       1532
2019-02-21       1328
2019-02-22        969
2019-02-25       1869
2019-02-26       1868

In [6]:
frequency.loc['2019-01-04'] = 10

In [7]:
frequency.tail(50)

            Frequency
Date
2018-12-14       1515
2018-12-17       1615
2018-12-18       1598
2018-12-19       1555
2018-12-20       1347
2018-12-21        918
2018-12-24         35
2018-12-27         72
2018-12-28         69
2018-12-31         33
2019-01-02       1464
2019-01-03        545
2019-01-04         10
2019-01-07       2200
2019-01-08       2056
2019-01-09       1893
2019-01-10       1786
2019-01-11       1480
2019-01-14       1939
2019-01-15       1886
2019-01-16       1631
2019-01-17       1592
2019-01-18       1702
2019-01-21       1925
2019-01-22       1936
2019-01-23       1831
2019-01-24       1808
2019-01-25       1616
2019-01-28       1825
2019-01-29       1831
2019-01-30       1793
2019-01-31       1805
2019-02-01       1598
2019-02-04       1850
2019-02-05       1873
2019-02-06       1781
2019-02-07       1689
2019-02-08       1577
2019-02-11       1877
2019-02-12       1889
2019-02-13       1843
2019-02-14       1735
2019-02-15       1567
2019-02-18       1642
2019-02-19       1609
2019-02-20       1532
2019-02-21       1328
2019-02-22        969
2019-02-25       1869
2019-02-26       1868

In [8]:
subset_freq = frequency.head(10)
subset_freq

            Frequency
Date
2016-10-03       1622
2016-10-04       1730
2016-10-05       1635
2016-10-06       1417
2016-10-07       1083
2016-10-10       1899
2016-10-11       1789
2016-10-12       1735
2016-10-13       1748
2016-10-14       1618

In [ ]:
subset_freq.plot.bar()
plt.show()